/*Container. Задає ширину контенту*/
.container {
    width: 1170px;
    margin: 0 auto;
}

/*Index*/
/*Header*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigate {
    display: flex;
    gap: 93px;
    align-items: center;
}

.logo {
    display: flex;
}

.logo-1 {}

.logo-2-header {}

.header-navigate-menu {
    display: flex;
    gap: 50px;
}

.header-address {
    display: flex;
    gap: 50px;
}

/*Main*/
/*Main-section1*/
.main-section1 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-section1-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-section1-h1 {
    text-align: center;
}

.main-section1-button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
}

/*Main-section2*/
.main-section2 {
    padding-top: 94px;
}

.main-section2-container {}

.main-section2-list {
    display: flex;
}

.main-section2-list-item {}

.main-section2-list-item-h3 {
    padding-bottom: 10px;
}

.main-section2-list-item-p {}

/*Main-section3*/
.main-section3 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-section3-container {}

.main-section3-h2 {
    padding-bottom: 50px;
    text-align: center;
}

.main-section3-list {
    display: flex;
    justify-content: space-between;
}

.main-section3-list-item {}

/*Main-section4*/
.main-section4 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-section4-container {}

.main-section4-h2 {
    padding-bottom: 50px;
    text-align: center;
}

.main-section4-list {
    display: flex;
    justify-content: space-between;
}

.main-section4-list-item {}

.main-section4-list-item-figure {
    margin: 0;
}

.main-section4-list-item-figure-img {
    width: 270px;
}

.main-section4-list-item-figurecaption {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.main-section4-list-item-h3 {
    padding-bottom: 10px;
}

.main-section4-list-item-p {}

/*Footer*/
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-2-footer {}

.footer-address-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-address-list-address {}

.footer-address-list-item {}

/*Portfolio*/
/*Main*/
/*Main-section1*/
.portfolio-main-section1 {
    padding-top: 94px;
}

.portfolio-main-section1-container {
}

.portfolio-main-section1-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.portfolio-main-section1-list-button {
    padding: 6px 22px;
}

/*Main-section2*/
.portfolio-main-section2 {
    padding-top: 50px;
    padding-bottom: 94px;
}

.portfolio-main-section2-container {}

.portfolio-main-section2-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.portfolio-main-section2-list-item {}

.portfolio-main-section2-list-item-figure{
    margin: 0;
}

.portfolio-main-section2-list-item-figure-img{
    width: 370px;
}

.portfolio-main-section2-list-item-h3 {}

.portfolio-main-section2-list-item-p {}