/*----------Головні настройки----------*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    background-color: var(--white-background);
}

/*Видалити підкреслення зі ссилок*/
a {
    text-decoration-line: none;
}

/*Кнопки наслідують шрифт body*/
button {
    font-family: inherit;
    border-radius: 4px;
}

/*Видалити крапку зі списків*/
ul {
    list-style-type: none;
}

/*Настройка address*/
address {
    font-style: normal;
}

