/*Import google fonts*/
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);

@import url(./base/reset.scss);



:root {
    --r: 1px;
    --blue: #2196F3;
    --black: #000000;
    --white: #FFFFFF;
    --white1: rgba(255, 255, 255, 0.1);
    --dark-section: #2F303A;
    --gray-section: #F5F4FA;
    --dark-title: #212121;
    --dark-text: #757575;
    --white-background: white;
    --gray-address: rgba(255, 255, 255, 0.6);
    --gray-headr-border: #ECECEC;
    --gray-border: #EEEEEE;
    --gray2-border: #AFB1B8;
    --gray3-backgroung: rgba(255, 255, 255, 0.1);
    --black1-border: rgba(0, 0, 0, 0.1);
    --gray4-icon: #AFB1B8;
    --section3-background: rgba(47, 48, 58, 0.8);
    --backdrop: rgba(0, 0, 0, 0.2);
    --input-border: rgba(33, 33, 33, 0.2);
    --textarea-placeholder: rgba(117, 117, 117, 0.5);

    --time1: 2500ms;
    --time2: 2s;
    --transitionfunction1: cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------Головні настройки----------*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    background-color: var(--white-background);
}

/*Видалити підкреслення зі ссилок*/
a {
    text-decoration-line: none;
}

/*Кнопки наслідують шрифт body*/
button {
    font-family: inherit;
    border-radius: 4px;
    border: none;
}

/*Видалити крапку зі списків*/
ul {
    list-style-type: none;
}

/*Настройка address*/
address {
    font-style: normal;
}

/*Container. Задає ширину контенту*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Фокус*/
.focus1 {
    transition-property: color;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.focus1:hover,
.focus1:focus {
    color: var(--blue);
}

.focus1:hover .header-address-item-link-icon,
.focus1:focus .header-address-item-link-icon {
    fill: var(--blue);
}

.focus2 {
    transition-property: background-color, color;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.focus2:hover,
.focus2:focus {
    background-color: var(--blue);
    color: var(--white);
}

.section4-focus-background {
    transition-property: background-color;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.section4-focus-background:hover,
.section4-focus-background:focus {
    background-color: var(--blue);
}

.section4-focus-icon {
    transition: fill;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.section4-focus-background:hover .section4-focus-icon,
.section4-focus-background:focus .section4-focus-icon {
    fill: var(--white);
}

.section5-focus-border {
    transition-property: border-color;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.section5-focus-border:hover,
.section5-focus-border:focus {
    border-color: var(--blue);
}

.section5-focus-icon {
    transition-property: fill;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.section5-focus-border:hover .section5-focus-icon,
.section5-focus-border:focus .section5-focus-icon {
    fill: var(--blue);
}

.footer-focus-background {
    transition-property: background-color;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.footer-focus-background:hover,
.footer-focus-background:focus {
    background-color: var(--blue);
}

/*Header*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    position: relative;

    background-color: var(--white);
    border-bottom-color: var(--gray-headr-border);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigate {
    display: flex;
    gap: 93px;
    align-items: center;
}

.logo {
    display: flex;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
}

.logo-1 {
    color: var(--blue);
}

.logo-2-header {
    color: var(--black);
}

.header-navigate-menu {
    display: flex;
    gap: 50px;
}

.header-navigate-menu-item {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;

    color: var(--dark-title);
}

.header-navigate-menu-item:hover::after,
.header-navigate-menu-item:focus::after,
.header-navigate-menu-item.current::after {
    position: absolute;
    top: 45px;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--blue);
}

.header-address {
    display: flex;
    gap: 50px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.header-address-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.header-address-item-link {
    display: flex;
    gap: 10px;
    align-items: center;

    color: var(--dark-text);
}

.header-address-item-link-icon {
    fill: var(--dark-text);

    transition-property: fill;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

/*Footer*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-section);
}

.footer-container {
    display: flex;
    gap: 70px;
}

.footer-container-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 12px;
}

.logo-2-footer {
    color: var(--white);
}

.footer-address-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-address-list-address {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: var(--white);
}

.footer-address-list-item {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: var(--gray-address);
}

.footer-link-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white);
}

.footer-link-list {
    display: flex;
    gap: 10px;
}

.footer-link-list-item-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.footer-link-list-item-div {
    border-radius: 50%;

    background-color: var(--gray3-backgroung);
}

.footer-link-list-item-a-icon {
    width: 20px;
    height: 20px;

    fill: var(--white);
}

/*Main*/
/*Section1*/
.section1 {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: url(../images/img-main.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.section1-container {
    width: 1600px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section1-h1 {
    text-align: center;

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white);
}

.modal-open-button {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-width: 0px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    background-color: var(--blue);
    color: var(--white);
}

/*Section2*/
.section2 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section2-list {
    display: flex;
    justify-content: space-between;
}

.section2-list-item {
    width: 270px;
}

.section2-list-item-div1::before,
.section2-list-item-div2::before,
.section2-list-item-div3::before,
.section2-list-item-div4::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-position: center;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-color: var(--gray-section);
}

.section2-list-item-div1::before {
    background-image: url(../images/features-antenna.png);
}

.section2-list-item-div2::before {
    background-image: url(../images/features-clock.png);
}

.section2-list-item-div3::before {
    background-image: url(../images/features-diagram.png);
}

.section2-list-item-div4::before {
    background-image: url(../images/features-astronaut.png);
}

.section2-list-item-div-icon {
    width: 70px;
    height: 70px;
}

.section2-list-item-h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--dark-title);
}

.section2-list-item-p {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: var(--dark-text);
}

/*Section3*/
.section3 {
    padding-bottom: 94px;
}

.section3-h2 {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;

    color: var(--dark-title);
}

.section3-list {
    display: flex;
    justify-content: space-between;
}

.section3-list-item {
    position: relative;
}

.section3-list-item-div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;

    background-color: var(--section3-background);
}

.section3-list-item-div-span {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;

    text-transform: uppercase;

    color: var(--white);
}

/*Section4*/
.section4 {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--gray-section);
}

.section4-list {
    display: flex;
    justify-content: space-between;
}

.section4-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section4-list-item-figure {
    margin: 0;
}

.section4-list-item-figure-img {
    width: 270px;
}

.section4-list-item-figurecaption {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.section4-list-item-h3 {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;

    color: var(--dark-title);
}

.section4-list-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;

    color: var(--dark-text);
}

.section4-link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section4-link-list-item-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.section4-link-list-item-div {
    border-radius: 50%;
}

.section4-link-list-item-a-icon {
    width: 20px;
    height: 20px;

    fill: var(--gray4-icon);
}

/*Section5*/
.section5 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.setion5-list {
    display: flex;
    justify-content: space-between;
}

.section5-list-item {}

.section5-list-item-a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid var(--gray2-border);
    border-radius: 4px;
}

.section5-list-item-a-icon {
    width: 106px;
    height: 60px;

    fill: var(--gray2-border);
}

/*section1a*/
.section1a {
    padding-top: 94px;
}

.section1a-container {}

.section1a-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.section1a-list-button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;

    background-color: var(--gray-section);
    color: var(--dark-title)
}

/*section2a*/
.section2a {
    padding-top: 50px;
    padding-bottom: 94px;
}

.section2a-container {}

.section2a-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.section2a-list-item {
    flex-basis: 370px;
    border-width: 1px;
    border-style: solid;

    border: 1px solid var(--gray-border);
}

.section2a-list-item:hover,
.section2a-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.section2a-list-item:hover .section2a-list-item-figure-div-over,
.section2a-list-item:focus .section2a-list-item-figure-div-over {
    transform: translateY(0);
    opacity: 0.9;

    transition-property: transform, opacity;
    transition-duration: var(--time1);
    transition-timing-function: var(--transitionfunction1);
}

.section2a-list-item-figure {
    margin: 0;
}

.section2a-list-item-figure-div {

    position: relative;
}

.section2a-list-item-figure-div-img {
    width: 370px;
}

.section2a-list-item-figure-div-over {
    box-sizing: border-box;
    padding: 63px 24px;

    height: 100%;

    position: absolute;
    top: 0;

    color: var(--white);
    background-color: var(--blue);
    opacity: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;

    transform: translateY(100%);
}

.section2a-list-item-figcaption {
    padding: 20px 24px 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;

    background-color: var(--white);
}

.section2a-list-item-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--dark-title);
}

.section2a-list-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;

    color: var(--dark-text);
}

/*Modal*/

.backdrop {
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    position: fixed;
    top: 0;

    transition: opacity var(--time1) var(--transitionfunction1), visibility var(--time1) var(--transitionfunction1);
}

.modal {
    width: 528px;
    min-height: 581px;
    padding: 40px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time1) var(--transitionfunction1);

    border-radius: 4px;
}

.modal-close-button {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white1);
    border: 1px solid var(--black1-border);
    border-radius: 50%;

    transition: border-color var(--time1) var(--transitionfunction1);
}

.modal-close-icon {
    width: 18px;
    height: 18px;
    transition: fill var(--time1) var(--transitionfunction1);
}

.modal-close-button:hover {
    border-color: var(--blue);
}

.modal-close-button:hover .modal-close-icon {
    fill: var(--blue);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-title);
}

.modal-form {
    padding: 0;
    margin: 0;
}

.modal-field {
    margin-bottom: 10px;
}

.input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--dark-text);
}

.input-label span {
    display: block;
    margin-bottom: 4px;
}

.modal-input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    margin: 0;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: var(--dark-text);
}

.modal-input:focus {
    border-color: var(--blue);
}

.modal-input:focus+.input-icon {
    fill: var(--blue);
}

.input-wrap {
    position: relative;
}

.input-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 12px 16px;
    margin: 0;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    outline: transparent;
    resize: none;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;

    color: var(--textarea-placeholder);
}

.modal-check {}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);

    color: var(--dark-text);
}

.check-link {
    text-decoration: underline;

    color: var(--blue);
}

.modal-submit-button {
    margin: auto;
    padding: 10px 32px;

    width: 200px;
    height: 50px;

    border-width: 0px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    background-color: var(--blue);
    color: var(--white);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}